desktop.ini
.idea/
ScaDULER.iml
bin/
out/
project/*.*
!project/*.sbt
!project/build.properties
target/
temp/
/project/META-INF/MANIFEST.MF
/src/main/scala/worksheet.sc
/bigtest.mcf
/bigtest - copia.mcf
/resources.srf
